MONGO_URL="mongodb://localhost:27017"
DB_NAME="test_database"
CORS_ORIGINS="*"
SF_CLIENT_ID=""
SF_CLIENT_SECRET=""
SF_REDIRECT_URI="http://localhost:8001/api/auth/callback"
SF_LOGIN_URL="https://login.salesforce.com"
FRONTEND_URL="http://localhost:3000"
SF_API_VERSION="v60.0"
